@model WritersInn1.Models.Tbl_Content

@{


    Layout = "~/Views/Shared/ViewPage1.cshtml";
    ViewBag.Title = "ContentAdd";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<link href="~/AdminStyle/css/ContentAdd.css" rel="stylesheet" />





<style>
</style>
<div class="full">
    <div class="container contact-form w-100 m-auto h-100 ">

        @using (Html.BeginForm("ContentAdd", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()



            <h1 class="text-center" style="font-family:'Times New Roman'; font-size: 35px; font:bolder;">UPLOAD CONTENT</h1>

            <hr>
            <div class="row  text1" style="font-family:'Times New Roman'; font-size: 20px; font:bolder;">


                <div class="col-md-8">

                    <form method="POST" autocomplete="off">

                        <div class="contact my-2">
                            <label for="ContentName">Name: </label>
                            <input type="text" name="ContentName" id="customername" class="form-control" required>
                        </div>

                        @{
                            List<SelectListItem> data = ViewBag.CategoryList;
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.CategoryId, data, "---Select---", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="contact my-2">
                            @Html.LabelFor(model => model.ContentImage, htmlAttributes: new { @class = "control-label col-md-2" })


                            <input type="file" name="file" id="file" style="width: 100%;" />


                            @Html.ValidationMessageFor(model => model.ContentImage, "", new { @class = "text-danger" })

                        </div>



                        <div class="contact my-2">

                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.CheckBox("IsActive")
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })

                        </div>


                        @Html.HiddenFor(model => model.IsDelete)




                        <div class="contact my-2">

                            <label for="ShortDescription">Short Description: </label>
                            <input type="text" name="ShortDescription" id="customername" class="form-control" required>
                        </div>

                        <div class="contact my-2">

                            <label for="LongDescription">Long Description: </label>
                            <input type="text" name="LongDescription" id="customername" class="form-control" required>

                        </div>



                        <div class="contact my-2">
                            <label for="Price">Price: </label>
                            <input type="text" name="Price" id="customername" class="form-control" required>


                        </div>






                        <button name="button1" id="submit" value="Create" class=" btn btn btn-outline-success btn-sm">Upload </button>


                    </form>
                </div>

            </div>
        }
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>